<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/" method="POST">
	   <h1>Mi cuenta es: <%= @suma %></h1>
	  <input type="submit" value="Suma!!"> 
	</form>
</body>
</html>